*{
	font-family: helvetica;
	line-height: 150%;
}
a:link    {color:yellow; text-decoration:underline}
a:visited {color:red; text-decoration:underline}
a:hover   {color:yellow; text-decoration:underline}
a:active  {color:red; text-decoration:underline}
.bg_red{
	background-color: red;
}
.bg_green{
	background-color: green;
}
.content{
	border: 1px solid black;
	width: 35%;
	margin: 0 auto;
	background-color: blue;
	padding-left: 2%;
	padding-right: 2%;
}
.window{
	border: 5px solid white;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 20px;	
	width:  8em;
	height: 8em;
	float: left;
	margin-bottom: 2em;
	margin-right: 2em;
}
.under{
	text-decoration: underline;
}
.broad_words{
	letter-spacing: 0.4em;
}
.broad_sentences{
	word-spacing: 0.6em;
}
table{
	border: 2px solid gold;
}
td{
	width: 2em;
	height:2em;
	border:solid 2px gold;
	text-align:center;
}
p{
	text-indent: 2em;
}
body:not(h1, h2, h3, h4){
	font-size: 18px;
	padding: 0;
	margin: 0;
	color: white;
}
header{
	clear: both;
	border: solid 1px green;
	margin-bottom: 0px;
	background-color: green;
	text-align: center;
	font-family: courier;
}
footer{
	text-align: center;
	border: solid 1px green;
	clear: both;
	background-color: green;
}
h1{
	font-size: 2.5em;
}
h2{
	font-size: 2em;
}
mark{
	background-color: yellow;
}